<div class="container">
    <div>
        <h1>
            Chat CoderHouse
        </h1>
        <div id="caja" class="caja"></div>
    </div>

    <form onsubmit="return addMensage()"> 
        <div class="mb-3">
            <input type="text" class="form-control" id="name" aria-describedby="emailHelp" placeholder="Tu nombre...">
        </div>
        <div class="mb-3">
            <textarea class="form-control" id="text" placeholder="Tu mensaje..."></textarea>
        </div>
        <input type="submit" value="Enviar" class="btn btn-primary">
    </form>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>